<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/assets/letter.css" />
    <link rel = "stylesheet" href = "https://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <title>Open Letter: Importance of Open-Source EDA Tools for Academia</title>
  </head>
  <body>
    {{ content }}
  </body>
  <footer>
    This letter is hosted by <a href="https://fossi-foundation.org">FOSSi
    Foundation</a>. FOSSi Foundation supports the letter, but the initial
    signatories are the authors of the letter. <a
    href="https://fossi-foundation.org/contact">Legal information</a>.
  </footer>
</html>
