<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/assets/letter.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>    <title>Open Letter: Open-Source Chips for Europe</title>
  </head>
  <body>
    {{ content }}
  </body>
  <footer>
    This letter is hosted by <a href="https://fossi-foundation.org">FOSSi
    Foundation</a>. <a
    href="https://fossi-foundation.org/contact">Legal information</a>.
  </footer>
</html>
